body {
    font-family: 'open sans', sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 0;
  }
  
  #top_menu {
    background-color: #c7003d;
  }
  
  #top_menu article {
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
  }
  
  #top_menu article div {
    flex: 1;
  }
  
  #top_menu h5 {
    margin: 6px;
    font-weight: lighter;
  }
  
  #top_menu h5,
  #top_menu ul li a {
    color: #eee;
    text-decoration: none;
    font-size: 12px;
    padding: 0px 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .top_menu_right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  
  /* menu block css starts here */
  #MenuBlock {
    background-color: #e40046;
  }
  
  #MenuBlock article {
    padding-right: 4%;
    padding-left: 4%;
    display: flex;
    height: 60px;
    align-items: center;
  }
  
  .logo {
    flex: 2;
  }
  
  .search {
    flex: 5;
  }
  
  .login_signupBlock {
   flex: 2 ;
  }
  
  .search{
      display: flex;
  }
  /* 
  .login_signup ul {
    display: flex;
  } */
  
  .searchInput{
    width: 65%;
  }
  
  .searchInput input{
    padding: 10px 30px !important;
    box-sizing: border-box;
    border: none;
    border-radius: 2px 0px 0px 2px;
    width: 100%;
  }
  
  .btnInput button{
    padding: 10px 30px;
    border: none;
    border-radius: 2px 0px 0px 2px;
    color:#fff;
    background: #333;
    font-size: 14px;
  }
  
  ::placeholder{
    font-size: 15px;
  }
  
  /* .login_signupul li a{
    display: block;
    padding: 19px 30px;
    border-left: 1px solid pink;
    border-right: 1px solid pink;
  } */
  
  .login_signupBlock ul {
    display: flex;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }
  .login_signupBlock ul li {
    flex: 1;
  }
  .login_signupBlock ul li a {
    text-decoration: none;
    color: #fff;
  }
  .login_signupBlock ul li:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    padding: 20px 0px;
  }
  
  /* contentArea starts here */
  
  #contentArea .contentAreaBlockInside{
    padding-right: 6%;
    padding-left: 6%;
    display: flex;
    justify-content: space-between;
  }
  
  .left_sidebar{
    flex: 1;
    background-color: #fff;
    margin: 10px;
  }
  
  .min_content{
    flex: 4;
    background-color: red;
    margin: 10px;
  }
  
  .right_sidebar{
    flex: 1;
    background-color:sienna;
    margin: 10px;
  }
  
  .left_sidebar ul li{
    display: flex;
    padding: 10px;
    align-items: center;
    margin: 0px 0px 3px 0px;
  }
  
  .left_sidebar ul li:hover{
    border-left:2px solid red;
    background: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  
  .left_sidebar a{
    text-decoration: none;
    color: #333;
    font-size: 13px;
    padding: 10px;
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
  
  
  .left_sidebar ul li span{
    height: 30px;
    width: 35px;
    display: inline-block;
    background-color: #eee;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .offers_img{
    background-image: url(../Images/Discount_Right_icon-f5105.png);
  }
  
  .mobile_img{
    background-image: url(../Images/30x30mobile2.png);
  }
  
  .electronic_img{
    background-image: url(../Images/Electronic-6212c.png);
  }
  
  .computer_img{
    background-image: url(../Images/ComputerGaming-a02cf.png);
  }
  
  .home_img{
    background-image: url(../Images/Homekitchenfurnishing-3eda1.jpg);
  }

  .right_sidebarInsideBlock footer button:nth-child(2){
    background: #eee;
    color: #333;
    padding: 10px 12px ;
    border-radius: 5px;
    border: none;
    margin: 10px 0px 0px 0px;
    text-transform: uppercase;
  }
  /*slider block ends here*/
  #productBlock article{
    display: flex;
  }
  #productBlock article div{
    flex: 1;
  }
  #productBlock  img{
    width: 100%;
  }